body {
  background: #f3f3f3;
}
.main {
  padding: 0;
}
.main a:hover {
  text-decoration: none;
}
.main .banner-hot {
  margin-top: 10px;
}
.main .banner-hot .banner-hot-left {
  float: left;
  width: 740px;
  margin-left: 230px;
}
.main .banner-hot .banner-hot-left .banner-swiper {
  width: 100%;
  height: 320px;
}
.main .banner-hot .banner-hot-left .banner-swiper .banner-wrapper .swiper-slide {
  background: #999;
}
.main .banner-hot .banner-hot-left .banner-swiper .banner-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.main .banner-hot .banner-hot-left .banner-swiper .pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.main .banner-hot .banner-hot-left .banner-swiper .pagination .swiper-pagination-switch {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #ec0b1b;
  opacity: 1;
  cursor: pointer;
  margin: 0 5px;
}
.main .banner-hot .banner-hot-left .banner-swiper .pagination .swiper-active-switch {
  background: #ec0b1b;
}
.main .banner-hot .banner-hot-left .banner-left-bottom {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  background: #fff;
}
.main .banner-hot .banner-hot-left .banner-left-bottom ul {
  flex: 5;
  height: 100%;
}
.main .banner-hot .banner-hot-left .banner-left-bottom ul li {
  flex: 1;
  border-right: 1px solid #eee;
}
.main .banner-hot .banner-hot-left .banner-left-bottom ul li img {
  vertical-align: middle;
  margin: 20px 6px 20px 20px;
}
.main .banner-hot .banner-hot-left .banner-left-bottom ul li p {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  color: #848484;
}
.main .banner-hot .banner-hot-right {
  float: right;
  width: 220px;
}
.main .banner-hot .banner-hot-right .banner-right-top {
  width: 100%;
  height: 270px;
  background: #fff;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-info {
  width: 100%;
  height: 68px;
  align-items: center;
  justify-content: center;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-info p {
  margin-bottom: 0;
  color: #666;
  font-size: 12px;
  margin-left: 14px;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-btn {
  justify-content: center;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-btn .btns {
  width: 88px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-btn .login {
  background: #0166b3;
  margin-right: 10px;
}
.main .banner-hot .banner-hot-right .banner-right-top .user-btn .register {
  background: #f36a21;
}
.main .banner-hot .banner-hot-right .banner-right-top .line-bg {
  width: 100%;
  height: 12px;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic {
  padding: 0 10px;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-top {
  height: 26px;
  align-items: center;
  justify-content: space-between;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-top h4 {
  font-size: 14px;
  font-weight: bold;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-top a {
  font-size: 12px;
  color: #999;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-list {
  font-size: 12px;
  align-items: center;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-list li {
  padding: 2px 0;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-list .tag {
  width: 34px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  background: #fdeeed;
  color: #ea6b64;
  margin-right: 10px;
}
.main .banner-hot .banner-hot-right .banner-right-top .dynamic .dynamic-list p {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a4a4a4;
  margin-bottom: 0;
}
.main .banner-hot .banner-hot-right .banner-right-bottom {
  width: 100%;
  height: 130px;
  margin-top: 10px;
  background: #fff;
}
.main .banner-hot .banner-hot-right .banner-right-bottom ul {
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
.main .banner-hot .banner-hot-right .banner-right-bottom ul li {
  width: 33.33%;
  height: 55px;
  text-align: center;
  font-size: 13px;
}
.main .banner-hot .banner-hot-right .banner-right-bottom ul li img {
  margin: 6px 0;
  width: 20px;
  height: 20px;
}
.main .banner-hot .banner-hot-right .banner-right-bottom ul li p {
  color: #5c5c5c;
}
.main .flash-sale {
  margin-top: 28px;
}
.main .flash-sale .flash-sale-left {
  float: left;
  width: 233px;
  height: 257px;
  background: url(../image/flash-sale-left-bg.png);
  color: #fff;
  text-align: center;
}
.main .flash-sale .flash-sale-left .sale-time {
  margin-top: 160px;
}
.main .flash-sale .flash-sale-left .sale-time b {
  font-size: 16px;
}
.main .flash-sale .flash-sale-left .sale-time i {
  font-style: normal;
  font-size: 12px;
}
.main .flash-sale .flash-sale-left .count-time span {
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #0f2e53;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
}
.main .flash-sale .flash-sale-left .count-time b {
  margin: 0 5px;
}
.main .flash-sale .flash-sale-right {
  float: left;
  width: 967px;
  height: 257px;
  position: relative;
  background: #fff;
}
.main .flash-sale .flash-sale-right .flash-swiper {
  width: 100%;
  height: 257px;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum {
  padding: 10px;
  cursor: pointer;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-img {
  width: auto;
  height: 140px;
  margin: 0 auto;
  display: block;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-title {
  color: #333;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-top: 10px;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-title:hover {
  color: #ec0b1b;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-price {
  font-size: 12px;
  text-align: left;
  text-indent: 15px;
  line-height: 25px;
  padding: 5px 0;
  width: 160px;
  margin: 0 auto;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-price .sale-price {
  color: #ec0b1b;
  font-size: 16px;
  width: 50%;
  font-weight: bold;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-price .sale-price i {
  font-size: 12px;
  font-style: normal;
}
.main .flash-sale .flash-sale-right .flash-swiper .swiper-slide .product-item-colum .p-info .p-price .old-price {
  width: 50%;
  color: #999;
  text-decoration: line-through;
}
.main .flash-sale .flash-sale-right .swiper-button-prev {
  width: 28px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 100px;
  background: url(../image/icon-flash-sale-right1.png) no-repeat center;
  cursor: pointer;
  z-index: 99;
}
.main .flash-sale .flash-sale-right .swiper-button-prev.disabled {
  background: #bdbdbd url(../image/icon-left-arrow.png) no-repeat center;
}
.main .flash-sale .flash-sale-right .swiper-button-next {
  width: 28px;
  height: 55px;
  position: absolute;
  right: 0px;
  top: 100px;
  background: url(../image/icon-flash-sale-right2.png) no-repeat center;
  cursor: pointer;
  z-index: 99;
}
.main .flash-sale .flash-sale-right .swiper-button-next.disabled {
  background: #bdbdbd url(../image/icon-left-arrow.png) no-repeat center;
}
.main .recommend {
  margin-top: 15px;
  justify-content: space-between;
}
.main .recommend .top {
  height: 58px;
  align-items: center;
}
.main .recommend .top h3 {
  margin: 0;
  width: 220px;
  font-size: 22px;
  font-weight: bold;
}
.main .recommend .bottom {
  width: 100%;
}
.main .recommend .every-day {
  width: 595px;
  height: 346px;
  padding: 0 20px;
  background: #fff;
}
.main .recommend .every-day .classfily-title {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.main .recommend .every-day .classfily-title li {
  color: #424242;
  font-size: 14px;
  margin-left: 25px;
  cursor: pointer;
}
.main .recommend .every-day .classfily-title li.active {
  color: #0166b3;
  border-bottom: 2px solid #0166b3;
}
.main .recommend .every-day .product-lowest-price {
  width: 170px;
  height: 266px;
  background: #f7f8f9;
  position: relative;
  text-align: center;
  margin-right: 30px;
}
.main .recommend .every-day .product-lowest-price .tag {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 90px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: linear-gradient(to right, #f6b73d, #f7a400);
  font-size: 12px;
  color: #fff;
}
.main .recommend .every-day .product-lowest-price img {
  margin-top: 56px;
  margin-bottom: 10px;
}
.main .recommend .every-day .product-lowest-price .title {
  font-size: 14px;
  color: #424242;
  padding: 0 15px;
  height: 40px;
  overflow: hidden;
}
.main .recommend .every-day .product-lowest-price .p-price .sale-price {
  color: #ec0b1b;
  font-size: 18px;
  font-weight: bold;
}
.main .recommend .every-day .product-lowest-price .p-price .sale-price i {
  font-style: normal;
  font-size: 12px;
}
.main .recommend .every-day .product-lowest-price .p-price .old-price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}
.main .recommend .every-day .classfily-product {
  flex: 1;
}
.main .recommend .every-day .classfily-product .product-list li {
  width: 50%;
  float: left;
  color: #333;
  font-size: 12px;
  margin: 24px 0 30px;
}
.main .recommend .every-day .classfily-product .product-list li .product-info {
  margin-left: 10px;
}
.main .recommend .every-day .classfily-product .product-list li p {
  margin-bottom: 0;
}
.main .recommend .every-day .classfily-product .product-list li p.title {
  height: 34px;
  overflow: hidden;
  padding-right: 20px;
}
.main .recommend .every-day .classfily-product .product-list li p.sale-price {
  color: #ec0b1b;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
.main .recommend .every-day .classfily-product .product-list li p.sale-price i {
  font-style: normal;
}
.main .recommend .every-day .classfily-product .product-list li p.old-price {
  color: #999;
  text-decoration: line-through;
}
.main .recommend .brand {
  width: 595px;
  height: 346px;
  padding: 0 20px;
  background: #fff;
}
.main .recommend .brand .brand-list {
  flex: 1;
}
.main .recommend .brand .brand-list li {
  float: left;
  text-align: center;
  width: 50%;
  padding-left: 20px;
  margin-bottom: 30px;
  position: relative;
}
.main .recommend .brand .brand-list li p {
  font-size: 13px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-top: 12px;
}
.main .recommend .brand .brand-list li:nth-child(5),
.main .recommend .brand .brand-list li:nth-child(6) {
  margin-bottom: 0;
}
.main .recommend .brand .brand-list li:nth-child(2n+1)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  background: #eee;
  right: -10px;
  top: 10px;
}
.main .members {
  margin-top: 20px;
  background: linear-gradient(#fff3f4, #fff9eb) bottom;
}
.main .members .top {
  height: 45px;
}
.main .members .top .left {
  line-height: 45px;
  padding: 0 40px 0 30px;
  float: left;
  color: #fff;
  background: #ec0b1b;
  border-radius: 0 0 45px 0;
}
.main .members .top .left strong {
  font-size: 16px;
}
.main .members .top .left span {
  font-size: 13px;
  display: inline-block;
  padding-left: 20px;
  margin-left: 20px;
  height: 16px;
  line-height: 16px;
  border-left: 1px solid #FFF;
  color: #f8c3c5;
}
.main .members .top .right {
  line-height: 45px;
  float: right;
  color: #666666;
  margin-right: 30px;
  cursor: pointer;
}
.main .members .bottom {
  position: relative;
  padding: 20px 30px;
}
.main .members .bottom .members-swiper {
  width: 100%;
  height: 240px;
}
.main .members .bottom .members-swiper .swiper-slide .product-item-colum {
  margin: 0 6px;
}
.main .members .bottom .swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  top: 125px;
  background: #ec0b1b url(../image/icon-left-arrow.png) no-repeat center;
  background-size: 22px;
  cursor: pointer;
}
.main .members .bottom .swiper-button-prev.disabled {
  background: #bdbdbd url(../image/icon-left-arrow.png) no-repeat center;
  background-size: 22px;
}
.main .members .bottom .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  right: 0px;
  top: 125px;
  background: #ec0b1b url(../image/icon-left-arrow.png) no-repeat center;
  background-size: 22px;
  transform: rotate(180deg);
  cursor: pointer;
}
.main .members .bottom .swiper-button-next.disabled {
  background: #bdbdbd url(../image/icon-left-arrow.png) no-repeat center;
  background-size: 22px;
}
.main .floors-title {
  height: 80px;
}
.main .floors-title h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 40px;
  background: url(../image/icon-floors-title1.png) no-repeat 0px center;
}
.main .floors .floor1 .left-banner {
  background: linear-gradient(#ff7068, #f99d72) bottom;
}
.main .floors .floor2 .left-banner {
  background: linear-gradient(#f99e72, #ffc889) bottom;
}
.main .floors .floor3 .left-banner {
  background: linear-gradient(#ff6974, #ffbcc4) bottom;
}
.main .floors .floor4 .left-banner {
  background: linear-gradient(#6565ff, #bba9ff) bottom;
}
.main .floors .floor5 .left-banner {
  background: linear-gradient(#1ac99d, #a0e7c8) bottom;
}
.main .floors .floor6 .left-banner {
  background: linear-gradient(#72b5f9, #8adfff) bottom;
}
.main .floors .floor7 .left-banner {
  background: linear-gradient(#9b65ff, #c3b6f3) bottom;
}
.main .floors .floor-item {
  margin-bottom: 20px;
  height: 560px;
  background: #f6f6f6;
}
.main .floors .floor-item .left-banner {
  width: 200px;
  height: 100%;
  padding: 15px;
  color: #fff;
  position: relative;
}
.main .floors .floor-item .left-banner h3 {
  font-size: 22px;
  padding-right: 20px;
}
.main .floors .floor-item .left-banner p {
  min-height: 60px;
}
.main .floors .floor-item .left-banner .tags span {
  display: block;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
.main .floors .floor-item .left-banner .floor-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.main .floors .floor-item .right-info {
  flex: 1;
  height: 100%;
  background: #fff;
  padding-left: 20px;
}
.main .floors .floor-item .right-info .product-categery {
  flex: 1;
  height: 100%;
}
.main .floors .floor-item .right-info .product-categery .three-categery {
  height: 55px;
  align-items: center;
}
.main .floors .floor-item .right-info .product-categery .three-categery li {
  margin: 0 25px;
  cursor: pointer;
  position: relative;
}
.main .floors .floor-item .right-info .product-categery .three-categery li.active {
  color: #ec0b1b;
}
.main .floors .floor-item .right-info .product-categery .three-categery li.active::before {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-8px);
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid red;
}
.main .floors .floor-item .right-info .product-categery .three-categery + .product-list {
  display: block;
}
.main .floors .floor-item .right-info .product-categery .product-list {
  display: none;
}
.main .floors .floor-item .right-info .product-categery .list {
  flex-wrap: wrap;
  border-top: 1px solid #eee;
}
.main .floors .floor-item .right-info .product-categery .list .product-item {
  width: calc((100% - 40px) / 4);
  margin: 0 5px;
}
.main .floors .floor-item .right-info .product-categery .list .product-item:nth-child(4) ~ .product-item {
  margin-top: 10px;
}
.main .floors .floor-item .right-info .product-categery .list .product-item .p-img {
  margin: 0 auto 10px;
}
.main .floors .floor-item .right-info .product-categery .list .product-item .p-info {
  padding-bottom: 10px;
}
.main .floors .floor-item .right-info .product-categery .list .product-item .p-info .p-title {
  white-space: nowrap;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: auto;
}
.main .floors .floor-item .right-info .product-categery .list .product-item .p-info .p-price .sale-price {
  font-weight: bold;
}
.main .floors .floor-item .right-info .product-categery .list .product-item .p-info .p-price .sale-price i {
  font-style: normal;
  font-size: 12px;
}
.main .floors .floor-item .right-info .rank {
  width: 200px;
  height: 100%;
  border-left: 5px solid #f3f3f3;
}
.main .floors .floor-item .right-info .rank .rank-title {
  position: relative;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  padding-left: 12px;
  margin: 0;
}
.main .floors .floor-item .right-info .rank .rank-title::after {
  content: '';
  width: 3px;
  height: 18px;
  background: #0166b3;
  position: absolute;
  left: 0;
  top: 18px;
}
.main .floors .floor-item .right-info .rank .top {
  padding: 0 10px;
  border-bottom: 5px solid #f3f3f3;
  height: 245px;
}
.main .floors .floor-item .right-info .rank .top .product-item {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.main .floors .floor-item .right-info .rank .top .product-item .p-info {
  padding-left: 0;
}
.main .floors .floor-item .right-info .rank .top .product-item .p-info .p-price .sale-price {
  transform: translateY(5px);
}
.main .floors .floor-item .right-info .rank .top .product-item:first-child {
  padding-top: 0;
}
.main .floors .floor-item .right-info .rank .top .product-item:last-child {
  border-bottom: none;
}
.main .floors .floor-item .right-info .rank .bottom {
  padding: 0 10px;
}
.main .slide-floors {
  display: none;
  position: fixed;
  background: #fff;
  left: 50%;
  top: 36%;
  transform: translateX(-640px) translateY(-50%);
}
.main .slide-floors .slide-floor-li {
  width: 50px;
  height: 50px;
  padding: 8px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .slide-floors .slide-floor-li + .slide-floor-li {
  border-top: 1px solid #d5d5d5;
}
.main .slide-floors .slide-floor-li.li-active {
  background: #ec0b1b;
  color: #fff;
}
.main .slide-floors .slide-floor-li.li-active .simplify-name {
  display: block;
  text-align: center;
  line-height: 34px;
}
.main .slide-floors .slide-floor-li.li-active .floor-name {
  display: none;
}
.main .slide-floors .slide-floor-li span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .slide-floors .slide-floor-li span.simplify-name {
  display: none;
}
